# API Base URL for HTTP REST Requests
# Example: https://api.yourdomain.com/api or http://[vps-ip]:5000/api
VITE_API_URL=""

# WebSocket Server Base URL
# Example: https://api.yourdomain.com or http://[vps-ip]:5000
VITE_SOCKET_URL=""
